.parallax {
  background-image: url('https://via.placeholder.com/1600x600');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* poziom ściemnienia */
  z-index: 1;
}

.parallax .container {
  position: relative;
  z-index: 2; /* treść nad ściemnieniem */
}